<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Hard Times: News Scraping for the 21st Century</h2>
		</div>
	</div>
	{{!-- title,link,summary --}}
	<div class="row">
		<div class="col-md-8">
			<h4>Articles</h4>
			<ul>
				{{#each article}}
				<div class="card">
					<div class="card-body">

						<div class="card-title">
							<a href="{{link}}" target="_blank">{{title}}</a>
							{{#if summary}}
							<p class="card-text">{{summary}}</p>
							{{/if}}
							<div class="commentsDiv">
							<form>
								<div class="form-group ">
									<label for="commentsArea" ></label>
									<textarea class="form-control" name="comment" placeholder="Leave comment here" data-textId="{{_id}}" rows="3"></textarea>
								</div>
								<div class="row">
									<button data-id="{{_id}}" class="btn btn-secondary" type="button">Comment</button>
									<button data-id="{{_id}}" class="btn btn-danger">Delete</button>
								</div>
							</form>
							<div class="previousComments">

							</div>
							</div>
						</div>

					</div>
				</div>
				{{/each}}
		</div>
	</div>
</div>
