<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Hard Times: News Scraping for the 21st Century</h2>
		</div>
	</div>
	{{!-- title,link,summary --}}
	<div class="row">
		<div class="col-md-8">
			<h4>Articles</h4>
			<ul>
				{{#each article}}
				<div class="card">
					<div class="card-body">

						<div class="card-title">
							<a href="{{link}}" target="_blank">{{title}}</a>
							{{#if summary}}
							<p class="card-text">{{summary}}</p>
							{{/if}}
							<div class="row">
								<button data-id="{{_id}}" class="btn btn-secondary" data-toggle="collapse" type="button" data-target="#collapseExample">Comment</button>
								<button data-id="{{_id}}" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
		</div>
	</div>
</div>
